.container {
  max-width: 700px;
}

h2 {
  margin-bottom: 25px;
}

.panel-heading {
  font-size: 16px;
}

.panel-body p {
  margin-bottom: 10px;
}

.text-center {
  margin-top: 20px;
}

.btn {
  margin: 0 5px;
}
